<h1> Route 704 </h1>
	<table border="1" style="width:100%">
		<tr>
			<th> STOPS </th>		
			<th> ARRIVAL TIMES </th>
			<th> DIRECTION </th>		
		</tr>
		<tr>
			<td> Santa Monica Blvd / Ocean Ave</td>
			<td>10:30am </td>
			<td> Eastbound </td>
		</tr>
	</table>